/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}
@media (max-width: 1440px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
}
section.section {
  position: relative;
}
section.section .section-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: 1;
}
section.section .section-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}
section.section .section-wrapper {
  position: relative;
  z-index: 5;
}
section.section .section-title {
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: -0.5px;
  margin-top: 1.5rem;
}
section.section .section-title span {
  color: #4743eb;
}
section.section .section-des {
  font-size: 2.4rem;
  font-weight: 700;
  color: #e7ae5d;
  letter-spacing: 2.4rem;
  text-transform: uppercase;
  line-height: 1.5;
}
.color-white {
  color: #fff !important;
}
.color-text-gray {
  color: rgba(255, 255, 255, 0.5) !important;
}
.line {
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 2.5rem;
}
.montserrat-font {
  font-family: Montserrat, sans-serif;
}
.roboto-font {
  font-family: Roboto, sans-serif;
}
.button-component {
  outline: 0;
  border: none;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.5rem 5rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.button-component.radius {
  border-radius: 3rem;
}
.button-component .button-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .button-component .button-title {
    font-size: 14px;
  }
}
.button-component .button-icon {
  flex: 0 0 18px;
  max-width: 18px;
  margin-right: 15px;
}
.button-component.white-transparent {
  background: rgba(255, 255, 255, 0.5);
}
.button-component.white-transparent .button-title {
  color: #fff;
}
.button-component.white-outline {
  border-color: #fff;
}
.button-component.white-outline .button-title {
  color: #fff;
}
.button-component.blue {
  border-color: #4743eb;
  background: #4743eb;
}
.button-component.blue .button-title {
  color: #fff;
}
.button-component.purple {
  border-color: #9b51e0;
  background: #9b51e0;
}
.button-component.purple .button-title {
  color: #fff;
}
header.header {
  background: linear-gradient(
    277.61deg,
    rgba(39, 39, 39, 0.0001) -40.85%,
    rgba(15, 15, 15, 0.7)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
header.header .header-wrapper {
  position: relative;
  height: 12rem;
}
header.header .header-logo {
  width: 7.5rem;
}
header.header .header-logo img {
  width: 100%;
}
header.header .header-nav .nav-item {
  padding: 1.5rem 2.5rem;
}
header.header .header-nav .nav-link {
  position: relative;
  transition: 0.3s ease;
  display: block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 5px 0;
}
header.header .header-nav .nav-link:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  transition: 0.3s ease;
  background: #fff;
  border-radius: 3px;
  bottom: 0;
  left: 0;
}
header.header .header-nav .nav-link.active::before,
header.header .header-nav .nav-link:hover::before {
  width: 100%;
}
header.header .header-nav .nav-link.active {
  font-weight: 700;
}
@media (max-width: 991px) {
  header.header .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease;
  }
  header.header .header-nav.active {
    max-height: 100vh;
  }
  header.header .header-nav .nav-link {
    color: #000;
  }
  header.header .header-nav .nav-link:before {
    background: #000;
  }
}
header.header .btn-menu-mobile {
  display: none;
}
@media (max-width: 991px) {
  header.header .btn-menu-mobile {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
  header.header .btn-menu-mobile img {
    width: 30px;
  }
}
footer.footer {
  background: #222;
}
footer.footer .footer-top {
  padding: 4rem 0;
}
@media (max-width: 991px) {
  footer.footer .footer-top {
    flex-direction: column;
  }
}
footer.footer .footer-top .footer-logo {
  width: 100px;
}
footer.footer .footer-top .footer-logo img {
  width: 100%;
}
@media (max-width: 575px) {
  footer.footer .footer-top .footer-nav {
    flex-direction: column;
    align-items: center;
  }
}
footer.footer .footer-top .footer-nav .nav-item {
  padding: 1.5rem 2.5rem;
}
footer.footer .footer-top .footer-nav .nav-link {
  position: relative;
  transition: 0.3s ease;
  display: block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 5px 0;
}
footer.footer .footer-top .footer-nav .nav-link:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  transition: 0.3s ease;
  background: #fff;
  border-radius: 3px;
  bottom: 0;
  left: 0;
}
footer.footer .footer-top .footer-nav .nav-link.active::before,
footer.footer .footer-top .footer-nav .nav-link:hover::before {
  width: 100%;
}
footer.footer .footer-top .footer-nav .nav-link.active {
  font-weight: 700;
}
footer.footer .footer-top .footer-social .social-item {
  margin-right: 25px;
}
@media (max-width: 991px) {
  footer.footer .footer-top .footer-social .social-item {
    margin: 0 10px;
  }
}
footer.footer .footer-top .footer-social .social-item.facebook img {
  width: 11px;
}
footer.footer .footer-top .footer-social .social-item.twitter img {
  width: 25px;
}
footer.footer .footer-top .footer-social .social-item.instagram img {
  width: 20px;
}
footer.footer .footer-bottom {
  padding: 0.5rem 0 3rem;
}
@media (max-width: 991px) {
  footer.footer .footer-bottom {
    flex-direction: column;
    align-items: center !important;
  }
}
footer.footer .footer-bottom a,
footer.footer .footer-bottom p,
footer.footer .footer-bottom span {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991px) {
  footer.footer .footer-bottom a,
  footer.footer .footer-bottom p,
  footer.footer .footer-bottom span {
    text-align: center;
  }
}
footer.footer .footer-bottom span {
  display: inline-block;
  margin: 0 5px;
}
footer.footer .footer-bottom p {
  max-width: 500px;
}
@media (max-width: 991px) {
  footer.footer .footer-bottom p {
    max-width: 100%;
  }
}
footer.footer .footer-bottom .bottom-item:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
.section-home-banner .section-video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.section-home-banner .section-video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.section-home-banner .section-video-bg .section-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}
.section-home-banner .section-wrapper {
  position: relative;
  z-index: 3;
  min-height: 100vh;
}
.section-home-banner .section-wrapper .section-content {
  padding: 5rem 0;
}
.section-home-banner .banner-intro {
  letter-spacing: 1.2rem;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin: 3rem 0 4rem;
}
@media (max-width: 575px) {
  .section-home-banner .banner-intro {
    font-size: 2.6rem;
  }
}
.section-home-banner .banner-title {
  font-size: 10rem;
  font-weight: 700;
  text-shadow: 0 8px 5px rgba(47, 102, 255, 0.5);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  margin: 0 0 1rem;
}
@media (max-width: 575px) {
  .section-home-banner .banner-title {
    font-size: 6rem;
  }
}
.section-home-banner .banner-des {
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff;
  margin: 0 0 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 575px) {
  .section-home-banner .banner-des {
    font-size: 2.2rem;
  }
}
.section-about {
  padding: 15rem 0;
  overflow: hidden;
}
.section-about .section-text {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
  font-size: 10rem;
  position: absolute;
  font-weight: 700;
  pointer-events: none;
}
.section-about .section-text.text-1 {
  left: 0;
  top: 30%;
  transform: translateX(-10%);
}
.section-about .section-text.text-2 {
  right: 0;
  bottom: 10%;
  transform: translateX(10%);
}
.section-about .about-image {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.section-about .about-image img {
  width: 100%;
}
.section-about .about-content {
  padding: 5rem 0 5rem 5rem;
}
@media (max-width: 991px) {
  .section-about .about-content {
    padding: 5rem 0;
  }
}
.section-about .about-content ul {
  list-style: disc;
  padding-left: 20px;
}
.section-about .about-content ul li {
  font-size: 1.8rem;
  padding: 5px 0;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}
.section-about .about-content a {
  color: #4743eb;
  font-family: Roboto, sans-serif;
}
.section-about .about-content .about-social {
  margin-top: 6rem;
}
.section-about .about-content .about-social .social-link {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin: 0 2rem 2rem 0;
}
.section-about .about-content .about-social .social-link.facebook {
  background: #2f80ed;
}
.section-about .about-content .about-social .social-link.facebook img {
  width: 1rem;
}
.section-about .about-content .about-social .social-link.dribble {
  background: #eb5757;
}
.section-about .about-content .about-social .social-link.dribble img {
  width: 2rem;
}
.section-about .about-content .about-social .social-link.behance {
  background: #56ccf2;
}
.section-about .about-content .about-social .social-link.behance img {
  width: 2.5rem;
}
.section-about .about-content .about-social .social-link img {
  width: 2.5rem;
  margin: auto;
}
.section-trophies {
  background: #4743eb;
  padding: 15rem 0;
}
.section-trophies .trophies-content .trophies-timeline {
  margin-top: 7rem;
}
.section-trophies .trophies-content .trophies-timeline .timeline-item {
  position: relative;
  padding: 0 0 3rem 3rem;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-line {
  position: absolute;
  left: 0;
  width: 14px;
  height: 100%;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-line
  .circle {
  width: 14px;
  height: 14px;
  background: #e7ae5d;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-line
  .line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 1px;
  margin-bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-date,
.section-trophies .trophies-content .trophies-timeline .timeline-item .item-des,
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-title {
  padding: 0 15px;
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}
@media (max-width: 575px) {
  .section-trophies
    .trophies-content
    .trophies-timeline
    .timeline-item
    .item-date,
  .section-trophies
    .trophies-content
    .trophies-timeline
    .timeline-item
    .item-des,
  .section-trophies
    .trophies-content
    .trophies-timeline
    .timeline-item
    .item-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-date
  p,
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-des
  p,
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-title
  p {
  color: #fff;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-date
  p,
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-des
  p {
  font-size: 14px;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-date
  p {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-title
  p {
  font-size: 18px;
  font-weight: 700;
}
.section-trophies
  .trophies-content
  .trophies-timeline
  .timeline-item
  .item-title
  i {
  font-size: 14px;
  color: #fff;
  font-weight: lighter;
}
@media (max-width: 991px) {
  .section-trophies .trophies-image {
    max-width: 65%;
    margin: 0 auto;
  }
}
.section-trophies .trophies-image img {
  width: 100%;
}
.section-partner {
  padding: 7rem 0;
  background: #222;
}
.section-partner #carousel-partners {
  margin-top: 5rem;
}
.section-partner #carousel-partners .partner-image img {
  width: auto;
}
.section-career {
  overflow: hidden;
}
@media (max-width: 991px) {
  .section-career .row {
    flex-direction: column-reverse !important;
  }
  .section-career .career-content {
    padding: 15rem !important;
  }
}
@media (max-width: 575px) {
  .section-career .career-content {
    padding: 5rem !important;
  }
}
.section-career .career-item:nth-of-type(odd) .career-col:nth-of-type(1) {
  padding-right: 0;
}
.section-career .career-item:nth-of-type(odd) .career-col:nth-of-type(2) {
  padding-left: 0;
}
.section-career .career-item:nth-of-type(odd) .career-content {
  padding: 15rem 15rem 15rem 8rem;
}
.section-career .career-item:nth-of-type(even) .career-col:nth-of-type(1) {
  padding-left: 0;
}
.section-career .career-item:nth-of-type(even) .career-col:nth-of-type(2) {
  padding-right: 0;
}
.section-career .career-item:nth-of-type(even) .row {
  flex-direction: row-reverse;
}
.section-career .career-item:nth-of-type(even) .career-content {
  background: #e4e8f4;
  padding: 15rem 8rem 15rem 15rem;
}
.section-career .career-item .career-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-career .career-item .career-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.section-career .career-item .career-content {
  height: 100%;
}
.section-career .career-item .career-content .button-component {
  margin-top: 4rem;
}
.section-project {
  background: #f9f9f9;
  padding: 15rem 0;
}
.section-project .section-project-wrapper .project-tabs {
  margin-bottom: 10rem;
}
.section-project .section-project-wrapper .project-tabs .tab-item {
  color: #656b6f;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 2.5rem;
  margin: 0 5px 10px;
  border-radius: 2.5rem;
  transition: 0.3s ease;
  font-weight: 700;
  white-space: nowrap;
}
.section-project .section-project-wrapper .project-tabs .tab-item.active,
.section-project .section-project-wrapper .project-tabs .tab-item:hover {
  background: #656b6f;
  color: #fff;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .grid-filter-item {
  padding: 15px;
  width: calc(100% / 4);
}
@media (max-width: 991px) {
  .section-project
    .section-project-wrapper
    .project-tabs-group
    .grid-filter-item {
    width: calc(100% / 3);
  }
}
@media (max-width: 768px) {
  .section-project
    .section-project-wrapper
    .project-tabs-group
    .grid-filter-item {
    padding: 7.5px;
  }
}
@media (max-width: 575px) {
  .section-project
    .section-project-wrapper
    .project-tabs-group
    .grid-filter-item {
    width: calc(100% / 2);
  }
}
@media (max-width: 425px) {
  .section-project
    .section-project-wrapper
    .project-tabs-group
    .grid-filter-item {
    width: 100%;
    padding: 15px 0;
  }
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item:hover
  .image-overlay {
  opacity: 1;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item
  .image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(60, 61, 65, 0.8);
  padding: 15px;
  transition: 0.3s ease;
  opacity: 0;
  border-radius: 4px;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item
  .image-overlay
  .project-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item
  .image-overlay
  p {
  font-weight: lighter;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item
  .image-overlay
  .button-component {
  margin: 3rem auto 0;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item
  .image-image {
  position: relative;
}
.section-project
  .section-project-wrapper
  .project-tabs-group
  .tab-item
  .image-image
  img {
  width: 100%;
  border-radius: 4px;
}
.section-clients {
  padding: 15rem 0;
}
.section-clients .clients-wrapper {
  margin: 6rem auto 0;
}
.section-clients .clients-wrapper #carousel-clients {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
}
@media (max-width: 991px) {
  .section-clients .clients-wrapper #carousel-clients {
    max-width: 100%;
  }
}
.section-clients .clients-wrapper #carousel-clients .owl-next,
.section-clients .clients-wrapper #carousel-clients .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-clients .clients-wrapper #carousel-clients .owl-next img,
.section-clients .clients-wrapper #carousel-clients .owl-prev img {
  width: 14px;
}
@media (max-width: 991px) {
  .section-clients .clients-wrapper #carousel-clients .owl-next,
  .section-clients .clients-wrapper #carousel-clients .owl-prev {
    display: none;
  }
}
.section-clients .clients-wrapper #carousel-clients .owl-prev {
  left: calc(-14px * 5);
}
.section-clients .clients-wrapper #carousel-clients .owl-next {
  right: calc(-14px * 5);
}
.section-clients
  .clients-wrapper
  #carousel-clients
  .client-item
  .client-caption {
  color: #fff;
  font-size: 3.2rem;
  font-weight: lighter;
  margin-bottom: 5rem;
}
.section-clients
  .clients-wrapper
  #carousel-clients
  .client-item
  .client-caption
  strong {
  font-weight: 700;
}
.section-clients .clients-wrapper #carousel-clients .client-item .client-name {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
}
.section-clients .clients-wrapper #carousel-clients .client-item .client-des {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.section-contact {
  padding: 10rem 0;
}
.section-contact .section-title {
  margin-bottom: 1rem;
  font-weight: 400 !important;
}
.section-contact .section-title span {
  font-weight: 700 !important;
}
.section-contact .contact-logo {
  width: 112px;
  margin: 0 auto 3rem;
}
.section-contact .contact-logo img {
  width: 100%;
}
.section-contact .form-contact {
  margin-top: 4rem;
}
.section-contact .form-contact .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.section-contact .form-contact .form-group.col-3-3-3-3 .form-item {
  flex: 0 0 calc(100% / 4 - 10px);
  max-width: calc(100% / 4 - 10px);
}
@media (max-width: 991px) {
  .section-contact .form-contact .form-group.col-3-3-3-3 .form-item {
    flex: 0 0 calc(100% / 2 - 10px);
    max-width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 575px) {
  .section-contact .form-contact .form-group.col-3-3-3-3 .form-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.section-contact .form-contact .form-group .form-item {
  margin-bottom: 10px;
}
.section-contact .form-contact .form-group .form-item .login-social {
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  background: 0 0;
  margin-left: 15px;
  display: block;
}
.section-contact
  .form-contact
  .form-group
  .form-item
  .login-social.facebook
  img {
  width: 6px;
}
.section-contact .form-contact .form-group .form-item .login-social.google img {
  width: 13px;
}
.section-contact .form-contact .form-group .form-item .login-social img {
  margin: auto;
}
.section-contact .form-contact .form-group .form-item input {
  font-size: 16px;
  color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  outline: 0;
  border: none;
  width: 100%;
}
@media (max-width: 991px) {
  .section-contact .form-contact .form-group .form-item input {
    font-size: 14px;
  }
}
.section-contact .form-contact .form-group .form-item .button-component {
  width: 100%;
}
